<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js">
    </script>
</head>
<body>
    <form id="dataForm">
        <table>
            <thead>
                <tr>
                    <td>商品ID</td>
                    <td>商品名称</td>
                    <td>购买数量</td>
                    <td>库存</td>
                    <td>单价</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cart,iterStat:${list}">
                    <input hidden th:value="${iterStat.size}" th:id="amount+${iterStat.index}">
                    <td><input th:value="${cart.productId}" th:id="productId+${iterStat.count}" th:name="productId+${iterStat.count}" readonly></td>
                    <td><input th:value="${cart.productName}" th:id="productName+${iterStat.count}" readonly></td>
                    <td><input type="number" th:onchange='countAll(this)' th:value="${cart.quantity}" th:name="quantity+${iterStat.count}" th:id="quantity+${iterStat.count}" th:width="10px" min="0"></td>
                    <td><input th:value="${cart.productStock}" th:id="productStock+${iterStat.count}" readonly></td>
                    <td><input th:value="${cart.productPrice}" th:id="productPrice+${iterStat.count}" readonly></td>
                </tr>
                <tr th:colspan="3">
                    <td>
                    </td>
                    <td th:colspan="2">
                        <span>合计：<input readonly id="count"></span>
                    </td>
                    <td th:colspan="2">
                        <button id="btn" type="button" onclick="tijiao()" th:class="layui-btn">提交</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <img  id="qrPath" src="" hidden>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>


</body>
<script>

    $(function () {
        countAll();
    })

    //计算总值  onChange方法
    function countAll(id) {
        //修改输入框的value属性
        $(id).attr("value",$(id).val());

        //求和
        var amount = document.getElementById("amount0");
        var value = amount.getAttribute("value");

        total=0;
        var productPrice = "productPrice";
        var quantity = 'quantity';
        for(var i =1 ;i<=value;i++){
            var each = productPrice+i;
            var amount = quantity+i;
            countEach(each,amount);
        }
        $("#count").val(total);
    }
    function countEach(price,quantity){

        var eachPrice = document.getElementById(price).getAttribute("value");
        var eachAmount = document.getElementById(quantity).getAttribute("value");
        total = total+eachPrice*eachAmount;
    }

    //提交
    function tijiao() {
        var amount = document.getElementById("amount0").getAttribute("value");
        var text = "";
        var Id = "productId";
        var productQuantity ="quantity";
        for(var i =1;i<=amount;i++){
            var eachAmount = document.getElementById(productQuantity+i).getAttribute("value");
            $('input').attr("readonly","readonly");
            var productId = document.getElementById(Id+i).getAttribute("value");
            text=text+productId+":"+eachAmount+",";
        }
        $.ajax({
            url:"/order/insert",
            data:{
                "context":text,
            },
            type:"post",
            dataType:"json",
            success:function (result) {
                var img ="";
                if(result.code==200){
                    img = "http://localhost:8080/getQrPic?code="+result.data;
                    console.log(img);
                    $("#qrPath").attr("src",img);
                    $("#qrPath").removeAttr("hidden");
                }else{
                    alert("fail");
                }
            },
            error:function () {
                alert("boom");
            }
        })

    }
</script>

</html>