<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
<div th:replace="main/common::header"></div>
    <div th:replace="main/common::left"></div>

<div class="layui-body">

    <!--  查询条件表单项 -->
    <form class="layui-form">

        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>查询条件</legend>
        </fieldset>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">支付状态:</label>
                <div class="layui-input-inline">
                    <select id="orderStatus" name="orderStatus" class="layui-input">
                        <option value="10">--请选择--</option>
                        <option th:each="statu : ${status}" th:value="${statu.orderStatusId}" th:text="${statu.orderStatusName}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <button type="button" id="searchBtn" name="searchBtn">搜索</button>
                </div>
            </div>
        </div>

    </form>

            <table class="layui-hide" id="orderTable" lay-filter="orderTable"></table>
</div>
<div th:replace="main/common::footer"></div>

</div>
</body>


<!--修改栏-->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="toOrderDetail">查看详情</a>
</script>
<script th:inline="none">

    //JavaScript代码区域
    layui.use(['element','table'], function(){
        var table = layui.table;
        var element = layui.element;
        var $ = layui.jquery;

        var mainTable = table.render({
            elem: '#orderTable'
            ,url:'/getOrderInfo'
            ,method:'post'
            ,cols: [[
                {field:'orderId',title: '订单号'}
                ,{field:'userName',title: '用户名'}
                ,{field:'payment', title: '支付金额'}
                ,{field:'pruchaseDate', title: '购买日期'}
                ,{field:'status', title: '支付状态'}
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
            ]]
            ,page: true
        });


        //搜索按钮
        $("#searchBtn").click(function () {
            table.reload('orderTable',{
                where:{
                    orderStatus: $("#orderStatus").val()
                }
            })
        });


        //监听行工具事件
        table.on('tool(orderTable)', function(obj){
            var data = obj.data;
            if(obj.event === 'toOrderDetail'){

                    //新弹窗界面
                layer.open({
                    type: 2
                    , content: '/orderDetail.html/'+data.orderId
                    , area: ['1000px', '600px']
                    , btnAlign: 'c' //按钮居中
                    , shade: 0 //不显示遮罩
                })


            }
        });
    });
</script>
</html>