<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd](http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserMapper">

    <!--这两个目前没用，别删-->
    <select id="getUserByPhoneNumber" parameterType="String" resultType="com.pojo.User">
        select
            user_id userId,
            user_name userName,
            user_phone userPhone,
            user_address userAddress,
            user_code userCode,
            user_create userCreate,
            user_status userStatus
            user_email userEmail
        from users
        where user_phone = #{phoneNumber}
    </select>
    <select id="getUserByEmail" parameterType="String" resultType="com.pojo.User">
        select
        user_id userId,
        user_name userName,
        user_phone userPhone,
        user_address userAddress,
        user_code userCode,
        user_create userCreate,
        user_status userStatus
        user_email userEmail
        from users
        where user_phone = #{Email}
    </select>



    <!--****将数据放到缓存中，用户注册时，检查缓存，保证注册的邮箱和用户名不重复-->
    <select id="getUserCacheInfo" resultType="com.dto.UserCacheDTO">
        select
        user_id userId,
        user_phone userPhone,
        user_email userEmail
        from user_sub
    </select>
    <!--****使用email登录 插入验证码-->
    <insert id="insertCodeByEmail">
        insert into user_sub_email(user_email,user_code,user_login_time)
        values (#{email},#{code},now())
    </insert>
    <!--****使用手机号登录 插入验证码-->
    <insert id="insertCodeByPhone">
        insert into user_sub_phone(user_phone,user_code,user_login_time)
        values (#{phone},#{code},now())
    </insert>
    <!--****根据传来的 表名 email或者phone 使验证码失效-->
    <update id="closeCodeStatus">
        update ${tableName}
        set user_code_status = 0
        where ${column} = #{parttern} and user_code_status = 1
    </update>
    <!--****判断登录邮箱和验证码是否匹配-->
    <select id="checkCodeByEmail"  parameterType="com.dto.LoginDTO" resultType="Integer">
        select id
        from user_sub_email
        where user_email = #{inputAccount}
        and user_code = #{code}
        and user_code_status = 1
    </select>
    <!--****判断登录手机号和验证码是否匹配-->
    <select id="checkCodeByPhone"  parameterType="com.dto.LoginDTO" resultType="Integer">
        select id
        from user_sub_phone
        where user_phone = #{inputAccount}
        and user_code = #{code}
        and user_code_status = 1
    </select>
    <!--####根据email获取id-->
    <select id="getUserIdByEmail" parameterType="String" resultType="Integer">
        select user_id
        from user_sub
        where user_email = #{inputAccount}
    </select>
    <!--####根据email获取id-->
    <select id="getUserIdByPhone" parameterType="String"  resultType="Integer">
        select user_id
        from user_sub
        where user_phone = #{inputAccount}
    </select>
    <!--####根据id获取游客的email-->
    <select id="getGuestEmailByUserId" resultType="java.lang.String">
        select user_email
        from user_sub_email
        where id = #{userId}
    </select>
    <!--####根据id获取游客的phone-->
    <select id="getGuestPhoneByUserId" resultType="java.lang.String">
        select user_phone
        from user_sub_phone
        where id = #{userId}
    </select>
    <!--####插入新user数据-->
    <insert id="inserNewUser" parameterType="com.dto.UserDTO" useGeneratedKeys="true" keyProperty="userId">
        insert into user(user_name,user_phone,user_address,user_email)
        values (#{userName},#{userPhone},#{userAddress},#{userEmail})
    </insert>
</mapper>